/*=================================================
	Font Awesome icons for facebook feeds 
=================================================*/
.fts-jal-single-fb-post [class^="icon-"] {
	margin: 0 !important;
	display: block;
	padding: 0 !important;
	text-align: right !important;
	width: auto !important;
	height: auto !important;
	line-height: normal !important;
	vertical-align: baseline !important;
	background-image: none !important;
	background-position: 0% 0% !important;
	background-repeat: repeat !important;
	background: transparent !important;
}
.fts-jal-single-fb-post [class^="icon-thumbs-up"], .fts-jal-single-fb-post [class*=" icon--thumbs-up"], .fts-jal-single-fb-post [class^="icon-comments"], .fts-jal-single-fb-post [class*=" icon--file"], .fts-jal-single-fb-post [class^="icon-file"] {
	display: inline-block !important;
	margin-left: 7px !important;
}
.fts-jal-single-fb-post [class^="icon-"]:before {
	font-family: 'fontawesome' !important;
}
.fts-fb-load-more {
	border-radius: 1px;
	padding: 0;
	line-height: 37px !important;
	width: 100%;
	min-height: 37px !important;
	font-size: 13px !important;
	text-align: center;
	background: rgba(240, 240, 240, 0.45);
	cursor: pointer;
	color: #111;
	display: inline-block;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.fts-fb-load-more:hover {
	background: rgba(240, 240, 240, 0.85);
}
.flip360-fts-load-more {
	-moz-animation: spinY 0.5s linear;
	-ms-animation: spinY 0.5s linear;
	-o-animation: spinY 0.5s linear;
	animation: spinY 0.5s linear;
	-webkit-animation-name: spinY;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: both;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-moz-animation-fill-mode: both;
	-ms-animation-fill-mode: both;
	-o-animation-fill-mode: both;
	animation-fill-mode: both;
	-moz-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	-ms-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	-o-animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
	animation-timing-function: cubic-bezier(0.75, 0, 0.175, 1);
}
@-moz-keyframes spinY {
 0% {
 -moz-transform: rotateY(0);
 transform: rotateY(0);
}
 100% {
 -moz-transform: rotateY(360deg);
 transform: rotateY(360deg);
}
}
 @-webkit-keyframes spinY {
 0% {
 -webkit-transform: rotateY(0deg);
 transform: rotateY(0deg);
 -webkit-transform-style: preserve-3d;
}
 100% {
 -webkit-transform: rotateY(360deg);
 transform: rotateY(360deg);
 -webkit-transform-style: preserve-3d;
}
}
 @-o-keyframes spinY {
 0% {
 -o-transform: rotateY(0);
 transform: rotateY(0);
}
 100% {
 -o-transform: rotateY(360deg);
 transform: rotateY(360deg);
}
}
 @-ms-keyframes spinY {
 0% {
 -ms-transform: rotateY(0);
 transform: rotateY(0);
}
 100% {
 -ms-transform: rotateY(360deg);
 transform: rotateY(360deg);
}
}
 @keyframes spinY {
 0% {
 -webkit-transform: rotateY(0);
 -moz-transform: rotateY(0);
 -ms-transform: rotateY(0);
 -o-transform: rotateY(0);
 transform: rotateY(0);
}
 100% {
 -webkit-transform: rotateY(360deg);
 -moz-transform: rotateY(360deg);
 -ms-transform: rotateY(360deg);
 -o-transform: rotateY(360deg);
 transform: rotateY(360deg);
}
}
/*=================================================
	fts-jal Facebook Group Header 
=================================================*/
/* Images */
.fts-jal-fb-group-display img {
	/* Fluid images for posts, comments, and widgets */
	border-radius: 0px !important;
	/* max-width: 100%; */
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0) !important;
}
.clear {
	clear: both;
}
.fts-jal-fb-group-header-desc {
	width: 100%;
	margin: 15px 0 !important;
	line-height: 20px;
}
.fts-jal-fb-header {
	clear: both;
}
.fts-jal-fb-group-display {
	overflow: auto;
	clear: both;
}
.no-more-posts-fts-fb {
	cursor: auto;
}
/*=================================================
	fts-jal Facebook Group Feed 
=================================================*/
.fts-jal-single-fb-post .slicker-facebook-album-photoshadow {
	display: none;
}
.fts-jal-single-fb-post a:hover, .fts-jal-fb-header a:hover {
	font-style: normal;
	text-decoration: none !important;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	color: #313131;
}
.fts-jal-fb-user-thumb a {
	display: block;
}
.fts-jal-single-fb-post a, .fts-jal-fb-header a {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
}
.fts-jal-fb-header h1 {
	font-size: 1.9em;
	margin-bottom: 0px !important;
}
.widget .fts-jal-fb-header h1 {
	font-size: 1.8em;
	line-height: 22px;
}
.fts-jal-single-fb-post {
	width: 100%;
	padding: 15px 0 6px 0 !important;
	margin-bottom: 0;
	border-bottom: 1px solid rgba(184, 184, 184, 0.3);
	position: relative;
	line-height: 17px;
	overflow: hidden;
}
.widget .fts-jal-single-fb-post {
	width: 100%;
	padding: 17px 0 10px 0 !important;
}
.fts-jal-single-fb-post:last-child {
/* border-bottom: none !important; */
}
.fts-jal-fb-user-thumb {
	position: absolute;
	top: 18px;
	left: 0px;
	width: 50px;
	height: 50px;
}
.fts-jal-fb-right-wrap {
	padding-left: 63px;
}
.widget .fts-jal-fb-right-wrap {
	padding-left: 0;
}
.widget .fts-jal-fb-top-wrap {
	padding-bottom: 5px;
	padding-left: 63px;
	margin-bottom: 5px;
	min-height: 50px;
}
.fts-jal-fb-message {
	padding-top: 15px;
	line-height: 21px;
	word-wrap: break-word;
}
.fts-jal-fb-link-wrap {
	margin-top: 10px;
	border-radius: 0px;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.jal-fb-description {
	word-wrap: break-word !important;
}
.fts-fluid-videoWrapper-html5 {
}
.fts-fluid-videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.fts-fluid-videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: #000;
}
.fts-fluid-videoWrapper video {
	background: #000;
}
.fts-jal-fb-vid-wrap {
	margin-top: 10px;
	border-radius: 0px;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.fts-jal-fb-vid-wrap iframe {
	width: 100%;
	max-height: 250px;
	margin: 0 !important;
	padding: 0 !important;
}
.widget .fts-jal-fb-vid-wrap iframe {
	width: 100%;
	height: 50%;
	margin: 0 !important;
	padding: 0 !important;
}
.fts-jal-fb-picture {
	float: left;
	display: block;
	margin: 10px 10px 2px 0;
}
.fts-jal-fb-link-wrap img {
	margin: 0;
}
.fts-jal-fb-vid-picture {
	position: relative;
	float: left;
	width: 130px;
	margin: 5px 10px 5px 0;
	line-height: normal !important;
	cursor: pointer;
}
.fts-jal-fb-description-wrap {
	float: left;
	padding: 8px 0 0;
	max-width: 300px;
	line-height: 19px !important;
	color: #999;
	font-size: 12px !important;
	font-weight: normal;
}
.fts-jal-single-fb-post .fts-jal-fb-vid-wrap .fts-jal-fb-description-wrap {
	padding: 2px 10px 6px 0px !important;
}
.widget .fts-jal-fb-description-wrap {
	float: left;
	overflow: hidden;
	max-width: 90%;
	line-height: 19px !important;
	color: #999;
	font-size: 12px !important;
	font-weight: normal;
}
.fts-jal-fb-description {
	text-wrap: normal;
	padding-top: 5px;
	line-height: 17px !important;
	font-size: 13px;
	color: #919191;
}
.fts-jal-fb-top-wrap {
	margin-bottom: 10px;
}
.fts-jal-fb-user-name {
	float: left;
	font-weight: bold;
	color: #C00;
	padding-right: 5px;
}
.fts-jal-fb-post-time {
	float: left;
	color: #999;
	padding-right: 15px;
	font-size: 12px;
	line-height: 20px;
}
.fts-jal-fb-name {
	font-weight: bold;
	color: #C00;
	padding-bottom: 5px;
	font-size: 15px;
	display: block;
	line-height: 18px;
}
.fts-jal-fb-vid-play-btn {
	background: url(../images/video-play-btn.png) no-repeat 0 0;
	bottom: 9px;
	height: 26px;
	left: 8px;
	position: absolute;
	width: 35px;
}
.fts-vid-div {
	width: 100%;
	margin-bottom: 15px;
}
.fts-vid-div img, .fts-vid-div .fts-jal-fb-vid-play-btn {
	display: none;
}
.fts-vid-div iframe {
	position: absolute;
	z-index: 500;
}
.fts-jal-fb-see-more {
	float: right;
	margin: 10px 0 0;
	font-size: 12px;
}
.fts-fb-event-photo {
	float: left;
}
.fts-jal-fb-picture img {
	width: 100%;
}
.entry-content .fts-jal-fb-picture img, .widget .fts-jal-fb-picture img {
	max-width: 100%;
}
.fts-fb-large-photo {
	margin-right: 0px !important;
	font-weight: inherit
}
/*=================================================
	Super Facebook Photo and Album Gallery
=================================================*/
.fts-slicker-facebook-photos .fts-fb-photo-post-wrap:hover .fts-jal-fb-top-wrap, .fts-slicker-facebook-photos .fts-fb-photo-post-wrap:hover .fts-jal-fb-see-more {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.fts-slicker-facebook-photos .fts-fb-video-post-wrap .slicker-facebook-album-photoshadow:hover .fts-jal-fb-top-wrap, .fts-slicker-facebook-photos .slicker-facebook-album-photoshadow:hover .fts-jal-fb-see-more {
	opacity: 1;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.fts-slicker-facebook-photos .fts-jal-fb-user-name a:hover, .fts-slicker-facebook-photos .fts-jal-fb-see-more:hover {
	color: #FFF;
}
.fts-slicker-facebook-photos .fts-jal-fb-description, .fts-slicker-facebook-albums .fts-jal-fb-description-wrap {
	color: #FFF;
}
.fts-slicker-facebook-photos .fts-jal-fb-description-wrap {
	font-weight: inherit !important
}
.fts-slicker-facebook-photos * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.fts-jal-fb-vid-wrap .slicker-facebook-album-photoshadow {
	position: absolute;
	top: 0px;
	right: 0;
	height: auto;
	z-index: 600;
	cursor: pointer;
	width: auto;
	opacity: 1 !important;
	background-color: rgba(0, 0, 0, .6) !important;
	display: none;
}
.fts-jal-fb-vid-wrap .slicker-facebook-album-photoshadow:before {
	content: 'info';
	color: #FFF;
	padding: 5px 10px 7px;
	text-align: right;
	float: right;
	font-size: 12px;
	display: none;
}
.slicker-facebook-album-photoshadow {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
	z-index: 100;
}
.fts-slicker-facebook-photos .fts-fb-photo-post-wrap .slicker-facebook-album-photoshadow:hover {
	background-color: rgba(0, 0, 0, .9);
	-webkit-transition: background-color 0.01s ease-out;
	-moz-transition: background-color 0.01s ease-out;
	-o-transition: background-color 0.01s ease-out;
	transition: background-color 0.01s ease-out;
	z-index: 100;
	opacity: .8;
	top: 0px;
	right: 0px;
	height: 100%;
	width: 100%;
}
.fts-slicker-facebook-photos .fts-fb-photo-post-wrap:hover .slicker-facebook-album-photoshadow {
	background-color: rgba(0, 0, 0, .9);
	-webkit-transition: background-color 0.01s ease-out;
	-moz-transition: background-color 0.01s ease-out;
	-o-transition: background-color 0.01s ease-out;
	transition: background-color 0.01s ease-out;
	z-index: 100;
	opacity: .8;
	top: 0px;
	display: block;
	right: 0px;
	height: 100%;
	width: 100%;
}
.fts-jal-single-fb-post:hover .slicker-facebook-album-photoshadow:before {
/* content:''; */
}
.fts-slicker-facebook-photos .fts-jal-fb-see-more {
	z-index: 5000 !important;
	color: #FFF;
	position: absolute;
	left: 8px;
	z-index: 500;
	bottom: 10px !important;
	opacity: 0;
}
.fts-slicker-facebook-photos .fts-jal-fb-right-wrap {
	padding: 0 !important;
}
.fts-slicker-facebook-photos .fts-jal-fb-user-thumb {
	display: none;
}
.fts-slicker-facebook-photos .fts-jal-fb-top-wrap {
	color: #FFF !important;
	padding: 12px 15px 0 15px !important;
	position: relative;
	z-index: 600;
	position: absolute;
	width: 100%;
	opacity: 0;
	-webkit-transition: all 0.15s ease-out 0.1s;
	-moz-transition: all 0.15s ease-out 0.1s;
	-o-transition: all 0.15s ease-out 0.1s;
}
.fts-slicker-facebook-photos .fts-jal-fb-message {
	padding: 15px 0 0;
	color: #FFF !important;
	position: relative;
	font-size: 14px;
	z-index: 100;
}
.fts-slicker-facebook-photos .fts-jal-fb-post-time {
	color: #ddd;
	margin-top: 0px;
}
.fts-slicker-facebook-photos .fts-jal-fb-link-wrap, .fts-slicker-facebook-photos .fts-jal-fb-vid-wrap {
	border: none !important;
	margin: 0px !important;
	line-height: 12px !important;
	width: 100%;
	height: 100%;
}
.fts-slicker-facebook-photos .fts-jal-fb-vid-wrap iframe {
	height: 305px;
	width: 305px;
}
.fts-slicker-facebook-albums .fts-jal-fb-description-wrap {
	word-wrap: break-word;
	width: 100%;
}
.fts-slicker-facebook-albums .fts-jal-fb-description-wrap a {
	float: left;
	width: 100%;
	line-height: 19px;
	padding: 0 !important;
}
.fts-slicker-facebook-albums .fts-jal-fb-description-wrap a:hover {
	color: #ccc;
}
.fts-slicker-facebook-albums .jal-fb-description a, .fts-slicker-facebook-photos .jal-fb-description a {
	float: none !important;
}
.fts-slicker-facebook-albums .jal-fb-description a:hover, .fts-slicker-facebook-photos .jal-fb-description a:hover {
	color: #ccc;
}
.fts-slicker-facebook-photos .fts-jal-single-fb-post {
	position: relative;
	float: left;
	z-index: 0;
	overflow: hidden;
	border: none !important;
	padding: 0 !important;
 font-family:'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif !importatnt;
	background: #000;
}
.fts-slicker-facebook-photos .fts-jal-fb-link-wrap, .fts-slicker-facebook-photos .fts-jal-fb-vid-wrap {
	border: none !important;
	margin: 0px !important;
	width: 100%;
	height: 100%;
}
.fts-album-photos-wrap img {
	vertical-align: middle !important;
	display: inline-block !important;
}
.fts-slicker-facebook-photos.fts-slicker-facebook-albums .fts-jal-single-fb-post {
	height: auto;
}
.fts-slicker-facebook-photos {
	margin: auto;
}
.fts-slicker-facebook-photos .fts-jal-fb-picture {
	display: block;
	margin: 0;
	padding: 0;
	float: none;
	width: auto;
}
div.fts-fb-location {
	font-style: italic !important;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 13px;
}
.fts-slicker-facebook-photos .fts-jal-fb-picture {
	left: 0%;
	right: 0%;
	top: 0%;
	position: absolute;
}
 @keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}
 @-webkit-keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}

/* Retina Display Size */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
.fts-jal-fb-vid-wrap iframe {
 height:130px;
}
}
.fts-fb-spinner {
	text-align: center;
}
.fts-fb-spinner > div {
	width: 10px;
	height: 10px;
	background-color: #999;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: fts-fb-bouncedelay 1.4s infinite ease-in-out;
	animation: fts-fb-bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.fts-fb-spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}
.fts-fb-spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}
 @-webkit-keyframes fts-fb-bouncedelay {
 0%, 80%, 100% {
-webkit-transform: scale(0.0)
}
 40% {
-webkit-transform: scale(1.0)
}
}
 @keyframes fts-fb-bouncedelay {
 0%, 80%, 100% {
 transform: scale(0.0);
 -webkit-transform: scale(0.0);
}
40% {
 transform: scale(1.0);
 -webkit-transform: scale(1.0);
}
}
