.fts-twitter-text {
	padding: 4px 0 0;
	display: block;
	line-height: 17px;
}
img.fts-twitter-description-image {
	margin: 10px 0 0 !important;
}
.fts-twitter-reply:before {
	font-family: "Fontawesome";
	content: '\f112';
}
.fts-twitter-div * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.fts-twitter-div a:hover {
	color: #444;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none;
}
.fts-twitter-div a:hover {
	color: #777;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.fts-twitter-div {
	position: relative;
	padding: 0;
	clear: both;
}
.fts-twitter-div {
	position: relative;
	padding: 0;
	clear: both;
	overflow: auto;
}
.tweeter-info:hover a {
	color: #919191;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
}
.fts-twitter-div .uppercase {
}
.widget .fts-twitter-div .uppercase {
	width: auto;
}
.fts-twitter-div p {
	margin: 0 0 5px 0 !important;
	line-height: 20px !important;
	padding: 0;
}
.widget .fts-twitter-div p {
	margin: 0 0 8px 0 !important;
	padding: 0 !important;
	line-height: 19px !important;
	font-size: 12px !important;
}
.fts-twitter-div img {
	margin: 0 10px 0 10px;
}
.fts-twitter-div .uppercase {
	margin: 0 5px 0 0;
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}
.widget .twitter-image {
	margin-right: 10px !important;
}
.widget .fts-twitter-div .uppercase, .widget .tweeter-info .right {
	text-align: left;
	font-size: 11px;
	line-height: 14px;
	font-weight: normal !important;
}
.right .uppercase {
	display: inline-block;
}
.tweeter-info .right {
	margin-left: 71px;
	float: none !important;
	padding: 0 7px 7px 0;
	line-height: 15px !important;
}
.fts-twitter-fade {
	display: none;
	width: 321px;
	height: 80px;
	position: absolute;
	top: 137px;
	left: 1px;
}
.fts-twitter-image {
	margin: 0;
	float: left;
}
.widget .fts-twitter-image {
	margin: 0;
	float: left;
}
.tweeter-info {
	padding: 11px;
	background: #eee;
	box-shadow: 0 1px 2px #555;
	clear: both;
	min-height: 51px;
	line-height: 13px;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.widget .tweeter-info {
	min-height: 42px;
}
.tweeter-info:hover {
	background: #FFF;
	box-shadow: 0 1px 2px #222;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.tweeter-info img {
	border-radius: 0px;
	box-shadow: 0 !important;
}
.fts-twitter-link {
	position: absolute;
	top: 217px;
	left: 0px;
	font-size: 22px;
	text-transform: uppercase;
	width: 291px;
	height: 36px;
	padding: 15px 0 0 38px;
	border-top: 1px solid #c1c2c3;
	color: #000;
}
.fts-twitter-div .fts-powered-by-text {
	padding-top: 8px !important;
}
.fts-twitter-div a {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
	color: #1982D1;
}
.fts-twitter-div a:hover {
	color: #444;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration: none !important;
}
.tweeter-info .time {
	font-size: 12px;
}
.fts-tweeter-wrap .tweeter-info {
	padding: 14px 0 7px;
	background: none;
	box-shadow: 0 0px 0px #555;
	border-bottom: 1px solid #eee;
	word-wrap: break-word;
	clear: both;
	font-size: 14px;
	line-height: 13px;
	-webkit-transition: background 0s;
	-webkit-transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
	transition: all 0s ease-in-out;
}
.fts-tweeter-wrap .tweeter-info:hover {
	background: none !important;
	box-shadow: 0 0px 0px #222 !important;
}
.fts-tweeter-wrap .tweeter-info img {
	border-radius: 0px;
	max-width: 100%;
	box-shadow: 0 !important;
}
.fts-twitter-reply-wrap {
	float: right;
	font-size: 16px;
	margin-right: 7px;
}
.fts-twitter-reply-wrap a {
	display: block;
	opacity: 0;
	padding-right: 5px;
	-webkit-transition: background 1s;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.fts-tweeter-wrap:hover a {
	opacity: 1;
}
 @keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}
@-webkit-keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.5;
}
to {
	opacity: 1.0;
}
}
@media (max-width:767px) {
.fts-tweeter-wrap a {
	opacity: 1 !important;
}
}
