.clear {
	clear: both;
}
.display {
	display: block !important;
}
.use-of-plugin {
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	line-height: 20px;
	width: 65%
}
.instagram-id-option-wrap {
	margin-top:44px;	
}
.final-shortcode-textarea, .shortcode-generator-form, .final-instagram-user-id-textarea, instagram-shortcode-form, .fts-super-instagram-options-wrap {
	display: none;
}
.fts-super-instagram-options-wrap {
	padding-top:0px;
}
.fts-empty-error {
	background-color: #F5F5AE !important;
}
.feed-them-social-admin-wrap h1 {
	font-size: 32px;
	color: #FFF;
	font-weight: 700;
	margin:0 0 12px 0;
	letter-spacing: 1px;
	line-height:30px;
	font-family: 'Rambla', sans-serif;
}
.feed-them-social-admin-wrap h4 {
	font-size: 12px;
	font-weight: normal;
	color: #000;
	margin: 1px 0 8px;
}
.feed-them-social-admin-wrap input[type=submit], .feed-them-social-admin-wrap input[type=button] {
-webkit-appearance: none;
}
.feed-them-social-admin-wrap input[type=text] {
	line-height:19px;
	max-width:100%;
} 
.feed-them-social-admin-wrap {
	max-width: 790px;
	min-height: 379px;
	background: url(../images/fts-backg.jpg) no-repeat;
	background-color: #021D04;
	padding: 25px 28px 58px 28px;
	-webkit-box-shadow: 2px 3px 7px 1px #000;
	box-shadow: 2px 3px 7px 1px #999;
	border-radius: 1px;
	position: relative;
	margin: 20px 20px 0 0px;
	-webkit-text-size-adjust: none;
}
.facebook-message-generator {
	display:none;
}
.feed-them-social-admin-wrap h2 {
	color: #fff;
	font-size: 23px;
	font-weight: 400;
	line-height:23px;
	margin: 15px 0 7px 0;
	font-family: 'Rambla', sans-serif;
}
.feed-them-social-admin-form {
	width: 100%;
	padding: 20px 0 0px 0;
}
.fts-facebook_group-shortcode-form:hover a {
	background-position: top right !important;
	background-size: 34px !important;
	height: 34px !important;
	width: 34px !important;
}
.feed-them-social-admin-input-wrap {
	background-color: rgba(246, 244, 244, 0.86);
	padding: 10px 16px;
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px; 
}
.final-shortcode-textarea .feed-them-social-admin-input-label {
	color: #0361B8;
	width:auto;
}
.instagram-shortcode-form .final-shortcode-textarea .feed-them-social-admin-input-label {
	color: #0361B8;
}
.final-shortcode-textarea {
	margin-top: 25px;
}
.final-shortcode-textarea input {
	width: 98%;
	margin-top: 2px
}
.feed-them-social-admin-input-label {
	float: left;
	width: 230px;
	margin-right: 10px;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	padding-top: 6px;
}
.feed-them-social-admin-input-label a {
	text-decoration: underline !important;
	cursor: pointer;
}
.feed-them-social-admin-input-example {
	float: left;
	font-weight: bold;
	margin-left: 10px;
	padding-top: 4px;
}
.feed-them-social-admin-input {
	float: left;
	width: 305px;
	max-width:100%;
}
.feed-them-social-admin-input-default {
	float: left;
	width: 290px;
	padding:4px 7px; 
	border: 1px solid #DFDFDF;
	background-color:#FFF;
	font-size:12px;
}
.fts-color-settings-admin-form .feed-them-social-admin-submit-btn {
	float:left;
	margin:0px;
	padding: 0px 20px;
	height:37px;
	line-height:35px;
}
.feed-them-social-admin-submit-btn {
	margin-top: 15px;
	padding: 10px 15px;
	border-radius: 1px;
	background-color: #31AC45 !important;
	color: #fff !important;
	font-weight: normal;
	cursor: pointer !important;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	border: none;
	letter-spacing: 1px;
	outline:none;
	font-size:12px;
}
.feed-them-social-admin-submit-btn:hover {
	background-color: #2BBE43 !important;
	color: #FFF !important;
	-webkit-transition: background 2s;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	outline:none;
}
.feed-them-social-admin-slick-logo {
	background: url(../images/footer-logo.png) center no-repeat;
	width: 124px;
	height: 20px;
	padding: 8px 12px;
	display: block;
	position: absolute;
	bottom: 10px;
	right: 5px;
	opacity:.4;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
/*=================================================
	Feed Them Social how to's
=================================================*/
.feed_them_social_id-answer {
	padding: 15px 0;
	display: none;
	font-weight: bold;
}
.feed_them_social_id-answer div {
	padding-bottom: 10px;
}
.feed_them_social_id-answer a {
	cursor: pointer !important;
}
.im-done {
	padding: 10px;
	background-color: #CD1723 !important;
	border: none !important;
	color: #fff !important;
	font-weight: bold;
	text-shadow: 1px 1px 3px #000000;
	filter: dropshadow(color=#000000, offx=1, offy=1);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer !important;
}
#shortcode-form-selector {
	margin-bottom: 10px;
}
.feed-them-icon-wrap {
	position: absolute;
	right: 27px;
	top: 25px;
	width: 195px;
	height: 50px;
}
.fts-facebook_group-shortcode-form:hover .feed-them-icon-wrap a.facebook-icon {
	background-position: top right !important;
	background-size: 34px !important;
	height: 34px !important;
	width: 34px !important;
	display:none;
}
.feed-them-icon-wrap a {
	opacity:1;
	float: right;
	margin-left: 1px;
	margin-bottom: 1px;
	display: block;
	height: 38px;
	width: 38px;
	cursor: default;
	outline: none;
	border: none;
	box-shadow:0 1px 1px #222;
	border-radius:0px; 
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;

}
.feed-them-icon-wrap a:hover {
	opacity:.85;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.feed-them-icon-wrap a.facebook-icon {
	background: url(../images/facebook-icon.png) no-repeat;
}
.feed-them-icon-wrap a.twitter-icon {
	background: url(../images/twitter-icon.png) no-repeat top right;
}
.feed-them-icon-wrap a.instagram-icon {
	background: url(../images/instagram-icon.png) no-repeat top right;
}
.feed-them-icon-wrap a.youtube-icon {
	background: url(../images/youtube-icon.png) no-repeat top right;
}
.feed-them-icon-wrap a.pinterest-icon {
	background: url(../images/pinterest-icon.png) no-repeat top right;
}
a.icon-animate-small {
	background-position: top right !important;
	background-size: 34px !important;
	height: 34px !important;
	width: 34px !important;
}
.instructional-text {
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 9px;
	letter-spacing: 1px;
	color: #eee;
}
.instructional-text a {
	font-size: 12px;
	color: #F7C424;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
	text-decoration:none;
}
.instructional-text a:hover {
	color: #FFF;
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	transition: all 0.30s ease-in-out;
}
.feed-them-clear-cache, .feed-them-custom-css	{
	padding-top:25px;
}
.feed-them-clear-cache input {
	background-color: #F11E2E !important;
}
.feed-them-clear-cache input:hover {
 	background-color: #F15D2E !important
 }
.feed-them-clear-cache-text	{
	color: #F11E2E !important;
	font-weight:bold;
	background-color: rgba(246, 244, 244, 0.96);
	padding: 10px 16px;
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	opacity: .90;
}
.fts-get-premium-version {
	margin-right:1em; 
	margin-top: 15px; 
	display:block; 
	max-width: 210px;
	text-align:center; 
	text-decoration:none !important;	
}
textarea#fts-color-options-main-wrapper-css-input {
	width: 100%;
	max-width: 100%;
	min-height: 350px;
	clear: both;
	background: #F9F9F9;
	font-family: Consolas, Monaco, monospace;
	font-size: 12px;
	width: 100%;
	height: 300px;
	outline: 0;
}
.fts-custom-css-text {
	margin-bottom: 5px;
}
label.toggle-custom-textarea-show:hover {
	background:#999;
}
label.toggle-custom-textarea-show {
	width: 135px;
	display:block;
	color:#FFF;
	height:37px;
	line-height:35px;
	float:left;
	text-align:center;
	padding: 0px 15px;
	background:#818181;
	border-radius:1px;
	font-size:12px;
	clear:both;
	letter-spacing: 1px;
	margin:0 5px 10px 0;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.fts-custom-css-text {
	color:#FFF;
}
.toggle-custom-textarea-hide, #fts-color-options-main-wrapper-css-input, .fts-custom-css-text {
	display: none;
}
.fts-admin-wrap p input[type='checkbox'], .fts-wp-header-custom input[type='checkbox'] {
	margin: -1px 7px 0 2px !important;
}
.fts-color-settings-admin-form p, .fts-powered-by-settings-admin-form p {
	color:#FFF;
	font-size:12px; 
	-webkit-text-size-adjust: none;
}
.fts-powered-by-settings-admin-form p {
	margin-bottom:0px;
}
.feed-them-custom-logo-css {
	margin-top:25px;
}
#discount-for-review {
	clear:both;
	margin-bottom:1px;
	text-align:center;
	font-weight:bold;
	color: #000;
	background: rgba(255, 255, 255, 0.53);
	float:right;
	width:194px;
	line-height:40px;
	cursor:pointer;
}
.discount-review-text {
	clear:both;
	color:#333;
	background: rgba(255, 255, 255, 0.9);
	width:154px;
	float:right;
	padding:20px;
	text-align:center;
	display:none;
}

.discount-review-text a {
	display:inline-block;
	width:auto;
	height:auto;
	margin:0;
	padding:0;
	border:none;
	box-shadow:none;
	float:none;
	cursor:pointer;
}

.fts-color-settings-admin-form span, .fts-color-settings-admin-form label{
	color:#FFF;
}
.fts-color-settings-admin-form p.example {
	color:#FFF;
	padding-bottom:35px !important;
}
.fts-color-settings-admin-form fieldset label {
	color:#FFF;
	line-height:30px;
}
.fts-color-settings-admin-form fieldset a {
	color:#FFF;
	text-decoration:none;
}


@media (max-width:700px ) {
	.feed-them-icon-wrap {
	position: relative;
	margin:-10px 0 25px 0;
	left:0px;
	}
	.feed-them-social-admin-slick-logo {
		display:none;	
	}
	
	#fts-date-and-time-format {
		width:100%
	}
}
.fts-failed-api-token {
	clear:both;
	background: rgba(245, 207, 206, 0.78);
	padding:7px 14px 7px 10px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	color:#000;
	float:left;
	margin:1px;
}
.fts-successful-api-token {
	clear:both;
	background: rgba(220, 253, 205, 0.78);
	padding:7px 14px 7px 10px;
	border: 1px solid rgba(255, 255, 255, 0.45);
	color:#000;
	float:left;
	margin:1px;
}
.fts-facebook-custom-api-token-label {
	display:block;
	margin:0 40px -4px 0;
	font-size:14px;
}
.fts-facebook-custom-api-token-label a {
	font-weight:bold;
	color: #D5D5D5;

}