html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    line-height: 1;
    font-size: 14px;
    font-size: 1rem;
    font-family: Helvetica, Arial, sans-serif;
    text-rendering: optimizeLegibility;
    color: #444;
}
ol,ul {
    list-style: none;
}
blockquote,q {
    quotes: none;
}
blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption,th,td {
    font-weight: normal;
    text-align: left;
}
h1,h2,h3,h4,h5,h6 {
    clear: both;
}
html {
    overflow-y: scroll;
    overflow-x:scroll;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    min-width:1040px;
    font-size: 87.5%;
}
a:focus {
    outline: thin dotted;
}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {
    display: block;
}
audio,canvas,video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
}
del {
    color: #333;
}
ins {
    background: #fff9c0;
    text-decoration: none;
}
hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 24px;
    margin-bottom: 1.714285714rem;
}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
small {
    font-size: smaller;
}
img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.clear:after,.wrapper:after,.format-status .entry-header:after {
    clear: both;
}
.clear:before,.clear:after,.wrapper:before,.wrapper:after,.format-status .entry-header:before,.format-status .entry-header:after {
    display: table;
    content: "";
}
.archive-title,.page-title,.widget-title,.entry-content th,.comment-content th {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
    font-weight: bold;
    text-transform: uppercase;
    color: #636363;
}
article.format-quote footer.entry-meta,article.format-link footer.entry-meta,article.format-status footer.entry-meta {
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 2.181818182;
}
button,input,textarea {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: inherit;
    padding: 6px;
    padding: 0.428571429rem;
}
button,input {
    line-height: normal;
}
textarea {
    font-size: 100%;
    overflow: auto;
    vertical-align: top;
}
input[type="checkbox"],input[type="radio"],input[type="file"],input[type="hidden"],input[type="image"],input[type="color"] {
    border: 0;
    border-radius: 0;
    padding: 0;
}
.menu-toggle,input[type="submit"],input[type="button"],input[type="reset"],article.post-password-required input[type=submit],li.bypostauthor cite span {
    padding: 6px 10px;
    padding: 0.428571429rem 0.714285714rem;
    font-size: 11px;
    font-size: 0.785714286rem;
    line-height: 1.428571429;
    font-weight: normal;
    color: #7c7c7c;
    background-color: #e6e6e6;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
    background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
.menu-toggle,button,input[type="submit"],input[type="button"],input[type="reset"] {
    cursor: pointer;
}
button[disabled],input[disabled] {
    cursor: default;
}
.menu-toggle:hover,button:hover,input[type="submit"]:hover,input[type="button"]:hover,input[type="reset"]:hover,article.post-password-required input[type=submit]:hover {
    color: #5e5e5e;
    background-color: #ebebeb;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -ms-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -webkit-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: -o-linear-gradient(top, #f9f9f9, #ebebeb);
    background-image: linear-gradient(top, #f9f9f9, #ebebeb);
}
.menu-toggle:active,.menu-toggle.toggled-on,button:active,input[type="submit"]:active,input[type="button"]:active,input[type="reset"]:active {
    color: #757575;
    background-color: #e1e1e1;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -ms-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -webkit-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: -o-linear-gradient(top, #ebebeb, #e1e1e1);
    background-image: linear-gradient(top, #ebebeb, #e1e1e1);
    box-shadow: inset 0 0 8px 2px #c6c6c6, 0 1px 0 0 #f4f4f4;
    border: none;
}
li.bypostauthor {
    cite {
        span {
            color: #fff;
            background-color: #21759b;
            background-image: none;
            border: 1px solid #1f6f93;
            border-radius: 2px;
            box-shadow: none;
            padding: 0;
        }
    }
}
.entry-content img,.comment-content img,.widget img {
    max-width: 100%;
}
img[class*="align"],img[class*="wp-image-"],img[class*="attachment-"] {
    height: auto;
}
img.size-full,img.size-large,img.header-image,img.wp-post-image {
    max-width: 100%;
    height: auto;
}
embed,iframe,object,video {
    max-width: 100%;
}
.entry-content {
    .twitter-tweet-rendered {
        max-width: 100% !important;
    }
    dl.gallery-item {
        margin: 0;
    }
}
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entry-content img,.comment-content img,.widget img,img.header-image,.author-avatar img,img.wp-post-image {
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}
.wp-caption {
    max-width: 100%;
    padding: 4px;
}
.wp-caption .wp-caption-text,.gallery-caption,.entry-caption {
    font-style: italic;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    color: #757575;
}
img.wp-smiley,.rsswidget img {
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}
.gallery-item a,.gallery-caption {
    width: 90%;
}
.gallery-item {
    a {
        display: block;
    }
}
.gallery-caption {
    a {
        display: inline;
    }
}
.gallery-columns-1 {
    .gallery-item {
        a {
            max-width: 100%;
            width: auto;
        }
    }
    .gallery-icon {
        img {
            padding: 3%;
        }
    }
}
.gallery {
    .gallery-icon {
        img {
            height: auto;
            max-width: 90%;
            padding: 5%;
        }
    }
}
.site-content {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
    margin-top:0;
    nav {
        clear: both;
        line-height: 2;
        overflow: hidden;
    }
    article {
        border-bottom: 4px double #ededed;
        margin-bottom: 72px;
        margin-bottom: 5.142857143rem;
        padding-bottom: 24px;
        padding-bottom: 1.714285714rem;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
    }
}
#nav-above {
    padding: 24px 0;
    padding: 1.714285714rem 0;
    display: none;
}
.paged {
    #nav-above {
        display: block;
    }
}
.nav-previous,.previous-image {
    float: left;
    width: 50%;
}
.nav-next,.next-image {
    float: right;
    text-align: right;
    width: 50%;
}
.nav-single + .comments-area,#comment-nav-above {
    margin: 48px 0;
    margin: 3.428571429rem 0;
}
.author {
    .archive-header {
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
    }
}
.author-info {
    border-top: 1px solid #ededed;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    padding-top: 24px;
    padding-top: 1.714285714rem;
    overflow: hidden;
}
.author-description {
    p {
        color: #757575;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;
    }
}
.author.archive {
    .author-info {
        border-top: 0;
        margin: 0 0 48px;
        margin: 0 0 3.428571429rem;
    }
    .author-avatar {
        margin-top: 0;
    }
}
body.custom-font-enabled {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}
a {
    outline: none;
    color: #21759b;
}
a:hover {
    color: #0f3647;
}
.assistive-text,.site .screen-reader-text {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
.main-navigation .assistive-text:hover,.main-navigation .assistive-text:active,.main-navigation .assistive-text:focus {
    background: #fff;
    border: 2px solid #333;
    border-radius: 3px;
    clip: auto !important;
    color: #000;
    display: block;
    font-size: 12px;
    padding: 12px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 100000;
}
.site {
    padding: 0 24px;
    padding: 0 1.714285714rem;
    background-color: #fff;
}
.widget-area {
    margin: 24px 0 0;
    margin: 1.714285714rem 0 0;
    .widget {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        margin-bottom: 48px;
        margin-bottom: 3.428571429rem;
        word-wrap: break-word;
        margin-bottom:10px;
        h3 {
            margin-bottom: 24px;
            margin-bottom: 1.714285714rem;
        }
        p {
            margin-bottom: 24px;
            margin-bottom: 1.714285714rem;
        }
        a {
            color: #757575;
        }
        a:hover {
            color: #21759b;
        }
        ul {
            ul {
                margin-left: 12px;
                margin-left: 0.857142857rem;
            }
        }
    }
    .textwidget {
        ul {
            list-style: disc outside;
            margin: 0 0 24px;
            margin: 0 0 1.714285714rem;
        }
        li {
            margin-left: 36px;
            margin-left: 2.571428571rem;
        }
    }
    #s {
        width: 53.66666666666%;
    }
}
.site-header {
    padding: 24px 0;
    padding: 1.714285714rem 0;
    padding-bottom:0;
    border-bottom-style:solid;
    border-bottom-color:#da131b;
    border-bottom-width:6px;
    h1 {
        font-size: 24px;
        font-size: 1.714285714rem;
        line-height: 1.285714286;
        margin-bottom: 14px;
        margin-bottom: 1rem;
    }
    h2 {
        font-weight: normal;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;
        color: #757575;
    }
}
.site-header h1,.site-header h2 {
    text-align: center;
}
.site-header h1 a,.site-header h2 a {
    color: #515151;
    display: inline-block;
    text-decoration: none;
}
.site-header h1 a:hover,.site-header h2 a:hover {
    color: #21759b;
}
.header-image {
    margin-top: 24px;
    margin-top: 1.714285714rem;
}
.main-navigation {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    text-align: center;
    li {
        margin-top: 24px;
        margin-top: 1.714285714rem;
        font-size: 12px;
        font-size: 0.857142857rem;
        line-height: 1.42857143;
        height:100%;
        line-height:5px;
        margin:0;
        a {
            padding-right:10px;
            padding-left:10px;
            font-weight:400;
            font-size:12pt;
            font-family:Oswald;
            color:black;
            border-right-style:solid;
            border-right-color:black;
            border-right-width:1px;
            line-height:12px;
            margin-bottom:10px;
        }
        a:hover {
            color:#da131b;
        }
    }
    a {
        color: #5e5e5e;
    }
    a:hover {
        color: #21759b;
    }
    ul {
        margin-top:60px;
        li:last-child {
            a {
                border-right-style:solid;
                border-right-color:black;
                border-right-width:0px;
            }
        }
    }
    li.current-menu-item {
        a {
            font-weight:700;
            font-size:12pt;
            font-family:Oswald;
            color:#da131b;
        }
    }
}
.main-navigation ul.nav-menu,.main-navigation div.nav-menu &>ul {
    display: none;
}
.main-navigation ul.nav-menu.toggled-on,.menu-toggle {
    display: inline-block;
}
section[role="banner"] {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
}
.widget-area .widget p,.widget-area .widget li,.widget-area .widget .textwidget {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
footer[role="contentinfo"] {
    border-top: 1px solid #ededed;
    clear: both;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    max-width: 960px;
    max-width: 68.571428571rem;
    margin-top: 24px;
    margin-top: 1.714285714rem;
    margin-left: auto;
    margin-right: auto;
    padding: 24px 0;
    padding: 1.714285714rem 0;
    a {
        color: #686868;
    }
    a:hover {
        color: #21759b;
    }
}
.entry-meta {
    clear: both;
}
.entry-header {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    img.wp-post-image {
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
    }
    .entry-title {
        font-size: 20px;
        font-size: 1.428571429rem;
        line-height: 1.2;
        font-weight: normal;
        a {
            text-decoration: none;
        }
    }
    .entry-format {
        margin-top: 24px;
        margin-top: 1.714285714rem;
        font-weight: normal;
    }
    .comments-link {
        margin-top: 24px;
        margin-top: 1.714285714rem;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;
        color: #757575;
    }
}
.comments-link a,.entry-meta a {
    color: #757575;
}
.comments-link a:hover,.entry-meta a:hover {
    color: #21759b;
}
article.sticky {
    .featured-post {
        border-top: 4px double #ededed;
        border-bottom: 4px double #ededed;
        color: #757575;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 3.692307692;
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
        text-align: center;
    }
}
.entry-content,.entry-summary,.mu_register {
    line-height: 1.714285714;
}
.entry-content h1,.comment-content h1,.entry-content h2,.comment-content h2,.entry-content h3,.comment-content h3,.entry-content h4,.comment-content h4,.entry-content h5,.comment-content h5,.entry-content h6,.comment-content h6 {
    margin: 24px 0;
    margin: 1.714285714rem 0;
    line-height: 1.714285714;
}
.entry-content h1,.comment-content h1 {
    font-size: 21px;
    font-size: 1.5rem;
    line-height: 1.5;
}
.entry-content h2,.comment-content h2,.mu_register h2 {
    font-size: 18px;
    font-size: 1.285714286rem;
    line-height: 1.6;
}
.entry-content h3,.comment-content h3 {
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.846153846;
}
.entry-content h4,.comment-content h4 {
    font-size: 14px;
    font-size: 1rem;
    line-height: 1.846153846;
}
.entry-content h5,.comment-content h5 {
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
.entry-content h6,.comment-content h6 {
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.846153846;
}
.entry-content p,.entry-summary p,.comment-content p,.mu_register p {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
}
.entry-content ol,.comment-content ol,.entry-content ul,.comment-content ul,.mu_register ul {
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    line-height: 1.714285714;
}
.entry-content ul ul,.comment-content ul ul,.entry-content ol ol,.comment-content ol ol,.entry-content ul ol,.comment-content ul ol,.entry-content ol ul,.comment-content ol ul {
    margin-bottom: 0;
}
.entry-content ul,.comment-content ul,.mu_register ul {
    list-style: disc outside;
}
.entry-content ol,.comment-content ol {
    list-style: decimal outside;
}
.entry-content li,.comment-content li,.mu_register li {
    margin: 0 0 0 36px;
    margin: 0 0 0 2.571428571rem;
}
.entry-content blockquote,.comment-content blockquote {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
    padding: 24px;
    padding: 1.714285714rem;
    font-style: italic;
}
.entry-content blockquote p:last-child,.comment-content blockquote p:last-child {
    margin-bottom: 0;
}
.entry-content code,.comment-content code {
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
}
.entry-content pre,.comment-content pre {
    border: 1px solid #ededed;
    color: #666;
    font-family: Consolas, Monaco, Lucida Console, monospace;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    margin: 24px 0;
    margin: 1.714285714rem 0;
    overflow: auto;
    padding: 24px;
    padding: 1.714285714rem;
}
.entry-content pre code,.comment-content pre code {
    display: block;
}
.entry-content abbr,.comment-content abbr,.entry-content dfn,.comment-content dfn,.entry-content acronym,.comment-content acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}
.entry-content address,.comment-content address {
    display: block;
    line-height: 1.714285714;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
}
img.alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}
.entry-content embed,.entry-content iframe,.entry-content object,.entry-content video {
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content dl,.comment-content dl {
    margin: 0 24px;
    margin: 0 1.714285714rem;
}
.entry-content dt,.comment-content dt {
    font-weight: bold;
    line-height: 1.714285714;
}
.entry-content dd,.comment-content dd {
    line-height: 1.714285714;
    margin-bottom: 24px;
    margin-bottom: 1.714285714rem;
}
.entry-content table,.comment-content table {
    border-bottom: 1px solid #ededed;
    color: #757575;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    margin: 0 0 24px;
    margin: 0 0 1.714285714rem;
    width: 100%;
}
.entry-content table caption,.comment-content table caption {
    font-size: 16px;
    font-size: 1.142857143rem;
    margin: 24px 0;
    margin: 1.714285714rem 0;
}
.entry-content td,.comment-content td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}
.page-links {
    clear: both;
    line-height: 1.714285714;
}
footer.entry-meta {
    margin-top: 24px;
    margin-top: 1.714285714rem;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #757575;
}
.single-author {
    .entry-meta {
        .by-author {
            display: none;
        }
    }
}
.mu_register {
    h2 {
        color: #757575;
        font-weight: normal;
    }
}
.archive-header,.page-header {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    padding-bottom: 22px;
    padding-bottom: 1.571428571rem;
    border-bottom: 1px solid #ededed;
}
.archive-meta {
    color: #757575;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 2;
    margin-top: 22px;
    margin-top: 1.571428571rem;
}
.article.attachment {
    overflow: hidden;
}
.image-attachment {
    div.attachment {
        text-align: center;
        p {
            text-align: center;
        }
        img {
            display: block;
            height: auto;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    .entry-caption {
        margin-top: 8px;
        margin-top: 0.571428571rem;
    }
}
article.format-aside {
    h1 {
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
        a {
            text-decoration: none;
            color: #4d525a;
        }
        a:hover {
            color: #2e3542;
        }
    }
    .aside {
        padding: 24px 24px 0;
        padding: 1.714285714rem;
        background: #d2e0f9;
        border-left: 22px solid #a8bfe8;
    }
    p {
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;
        color: #4a5466;
    }
}
article.format-aside blockquote:last-child,article.format-aside p:last-child {
    margin-bottom: 0;
}
article.format-image {
    footer {
        h1 {
            font-size: 13px;
            font-size: 0.928571429rem;
            line-height: 1.846153846;
            font-weight: normal;
        }
        h2 {
            font-size: 11px;
            font-size: 0.785714286rem;
            line-height: 2.181818182;
        }
        a {
            h2 {
                font-weight: normal;
            }
        }
    }
}
article.format-link {
    header {
        padding: 0 10px;
        padding: 0 0.714285714rem;
        float: right;
        font-size: 11px;
        font-size: 0.785714286rem;
        line-height: 2.181818182;
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
        color: #848484;
        background-color: #ebebeb;
        border-radius: 3px;
    }
    .entry-content {
        max-width: 80%;
        float: left;
        a {
            font-size: 22px;
            font-size: 1.571428571rem;
            line-height: 1.090909091;
            text-decoration: none;
        }
    }
}
article.format-quote {
    .entry-content {
        p {
            margin: 0;
            padding-bottom: 24px;
            padding-bottom: 1.714285714rem;
        }
        blockquote {
            display: block;
            padding: 24px 24px 0;
            padding: 1.714285714rem 1.714285714rem 0;
            font-size: 15px;
            font-size: 1.071428571rem;
            line-height: 1.6;
            font-style: normal;
            color: #6a6a6a;
            background: #efefef;
        }
    }
}
.format-status {
    .entry-header {
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
        header {
            display: inline-block;
            a {
                color: #757575;
            }
            a:hover {
                color: #21759b;
            }
        }
        h1 {
            font-size: 15px;
            font-size: 1.071428571rem;
            font-weight: normal;
            line-height: 1.6;
            margin: 0;
        }
        h2 {
            font-size: 12px;
            font-size: 0.857142857rem;
            font-weight: normal;
            line-height: 2;
            margin: 0;
        }
        img {
            float: left;
            margin-right: 21px;
            margin-right: 1.5rem;
        }
    }
}
.comments-title {
    margin-bottom: 48px;
    margin-bottom: 3.428571429rem;
    font-size: 16px;
    font-size: 1.142857143rem;
    line-height: 1.5;
    font-weight: normal;
}
.comments-area {
    article {
        margin: 24px 0;
        margin: 1.714285714rem 0;
        header {
            margin: 0 0 48px;
            margin: 0 0 3.428571429rem;
            overflow: hidden;
            position: relative;
            img {
                float: left;
                padding: 0;
                line-height: 0;
            }
            cite {
                font-style: normal;
                font-size: 15px;
                font-size: 1.071428571rem;
                line-height: 1.42857143;
                a {
                    color: #444;
                }
                a:hover {
                    text-decoration: underline;
                }
            }
            time {
                line-height: 1.714285714;
                text-decoration: none;
                font-size: 12px;
                font-size: 0.857142857rem;
                color: #5e5e5e;
            }
            a {
                text-decoration: none;
                color: #5e5e5e;
            }
            a:hover {
                color: #21759b;
            }
            h4 {
                position: absolute;
                top: 0;
                right: 0;
                padding: 6px 12px;
                padding: 0.428571429rem 0.857142857rem;
                font-size: 12px;
                font-size: 0.857142857rem;
                font-weight: normal;
                color: #fff;
                background-color: #0088d0;
                background-repeat: repeat-x;
                background-image: -moz-linear-gradient(top, #009cee, #0088d0);
                background-image: -ms-linear-gradient(top, #009cee, #0088d0);
                background-image: -webkit-linear-gradient(top, #009cee, #0088d0);
                background-image: -o-linear-gradient(top, #009cee, #0088d0);
                background-image: linear-gradient(top, #009cee, #0088d0);
                border-radius: 3px;
                border: 1px solid #007cbd;
            }
        }
    }
    li.bypostauthor {
        cite {
            span {
                position: absolute;
                margin-left: 5px;
                margin-left: 0.357142857rem;
                padding: 2px 5px;
                padding: 0.142857143rem 0.357142857rem;
                font-size: 10px;
                font-size: 0.714285714rem;
            }
        }
    }
}
.comments-area article header cite,.comments-area article header time {
    display: block;
    margin-left: 85px;
    margin-left: 6.071428571rem;
}
a.comment-reply-link,a.comment-edit-link {
    color: #686868;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
}
a.comment-reply-link:hover,a.comment-edit-link:hover {
    color: #21759b;
}
.commentlist {
    .pingback {
        line-height: 1.714285714;
        margin-bottom: 24px;
        margin-bottom: 1.714285714rem;
    }
}
#respond {
    margin-top: 48px;
    margin-top: 3.428571429rem;
    h3#reply-title {
        font-size: 16px;
        font-size: 1.142857143rem;
        line-height: 1.5;
        #cancel-comment-reply-link {
            margin-left: 10px;
            margin-left: 0.714285714rem;
            font-weight: normal;
            font-size: 12px;
            font-size: 0.857142857rem;
        }
    }
    form {
        margin: 24px 0;
        margin: 1.714285714rem 0;
        p {
            margin: 11px 0;
            margin: 0.785714286rem 0;
        }
        p.logged-in-as {
            margin-bottom: 24px;
            margin-bottom: 1.714285714rem;
        }
        label {
            display: block;
            line-height: 1.714285714;
        }
        p.form-allowed-tags {
            margin: 0;
            font-size: 12px;
            font-size: 0.857142857rem;
            line-height: 2;
            color: #5e5e5e;
        }
    }
}
#respond form input[type="text"],#respond form textarea {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    font-size: 0.857142857rem;
    line-height: 1.714285714;
    padding: 10px;
    padding: 0.714285714rem;
    width: 100%;
}
.required {
    color: red;
}
.entry-page-image {
    margin-bottom: 14px;
    margin-bottom: 1rem;
}
.template-front-page {
    .site-content {
        article {
            border: 0;
            margin-bottom: 0;
        }
    }
    .widget-area {
        clear: both;
        float: none;
        width: auto;
        padding-top: 24px;
        padding-top: 1.714285714rem;
        border-top: 1px solid #ededed;
        .widget {
            li {
                margin: 8px 0 0;
                margin: 0.571428571rem 0 0;
                font-size: 13px;
                font-size: 0.928571429rem;
                line-height: 1.714285714;
                list-style-type: square;
                list-style-position: inside;
                a {
                    color: #757575;
                }
                a:hover {
                    color: #21759b;
                }
            }
        }
        .widget_text {
            img {
                float: left;
                margin: 8px 24px 8px 0;
                margin: 0.571428571rem 1.714285714rem 0.571428571rem 0;
            }
        }
    }
}
.widget_rss {
    li {
        margin: 12px 0;
        margin: 0.857142857rem 0;
    }
}
.widget_recent_entries .post-date,.widget_rss .rss-date {
    color: #aaa;
    font-size: 11px;
    font-size: 0.785714286rem;
    margin-left: 12px;
    margin-left: 0.857142857rem;
}
#wp-calendar {
    margin: 0;
    width: 100%;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #686868;
    #next {
        padding-right: 24px;
        padding-right: 1.714285714rem;
        text-align: right;
    }
}
#wp-calendar th,#wp-calendar td,#wp-calendar caption {
    text-align: left;
}
.widget_search {
    label {
        display: block;
        font-size: 13px;
        font-size: 0.928571429rem;
        line-height: 1.846153846;
    }
}
.widget_twitter {
    li {
        list-style-type: none;
    }
    .timesince {
        display: block;
        text-align: right;
    }
}
img#wpstats {
    display: block;
    margin: 0 auto 24px;
    margin: 0 auto 1.714285714rem;
}
@media {
    screen {
        and {
            (min-width: {
                600px) {
                    .author-avatar;
                }
                960px) {
                    body;
                }
            }
        }
    }
}
float: {
    left;margin-top: {
        8px;margin-top: {
            0.571428571rem; {
                .author-description;
            }
        }
    }
    right;width: {
        80%; {
            .site;
        }
        26.041666667%; {
            .site-header h1,.site-header h2;
        }
        39.0625%;margin: {
            0 {
                0 {
                    24px;margin: {
                        0 {
                            0 {
                                1.714285714rem; {
                                    .template-front-page.two-sidebars .widget,.template-front-page.two-sidebars .widget:nth-child(even);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    left;width: {
        65.104166667%; {
            body.template-front-page .site-content,body.single-attachment .site-content,body.full-width .site-content;
        }
        47.916666667%; {
            .entry-page-image;
        }
        51.875%;margin-bottom: {
            24px;margin-bottom: {
                1.714285714rem; {
                    .template-front-page .widget-area .widget:nth-child(odd);
                }
            }
        }
    }
    right;margin-bottom: {
        0;width: {
            47.916666667%; {
                .template-front-page .widget-area .widget,.template-front-page.two-sidebars .widget-area .front-widgets;
            }
        }
    }
    none;width: {
        auto; {
            .commentlist .children;
        }
    }
}
margin: {
    0 {
        auto;max-width: {
            960px;max-width: {
                68.571428571rem;overflow: {
                    hidden; {
                        .site-content;
                    }
                }
            }
        }
        40px {
            0 {
                0;margin: {
                    0 {
                        2.857142857rem {
                            0 {
                                0;position: {
                                    relative; {
                                        .main-navigation li ul;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    0;text-indent: {
        0; {
            .main-navigation li a,.main-navigation li;
        }
    }
}
width: {
    100%; {
        .widget-area;
    }
    46.333333333%; {
        #respond form textarea.blog-textarea;
    }
    79.666666667%; {
        .template-front-page .site-content,.template-front-page article;
    }
}
text-align: {
    left; {
        .site-header h1;
    }
}
font-size: {
    26px;font-size: {
        1.857142857rem;line-height: {
            1.846153846;margin-bottom: {
                0; {
                    .main-navigation ul.nav-menu,.main-navigation div.nav-menu > ul;
                }
            }
        }
    }
    22px;font-size: {
        1.571428571rem; {
            #respond form input[type="text"];
        }
    }
}
display: {
    inline-block {
        !important;text-align: {
            left; {
                .main-navigation ul;
            }
        }
    }
    inline-block;text-decoration: {
        none; {
            .main-navigation li a;
        }
    }
    none;margin: {
        0;padding: {
            0;position: {
                absolute;top: {
                    100%;z-index: {
                        1; {
                            .main-navigation li ul ul;
                        }
                    }
                }
            }
        }
    }
    none; {
        .entry-header .entry-title;
    }
}
border-bottom: {
    0;color: {
        #6a6a6a;line-height: {
            3.692307692;text-transform: {
                uppercase;white-space: {
                    nowrap; {
                        .main-navigation li a:hover;
                    }
                }
            }
        }
    }
}
color: {
    #000; {
        .main-navigation li;
    }
    #636363;font-weight: {
        bold; {
            .menu-toggle;
        }
    }
}
top: {
    0;left: {
        100%; {
            .main-navigation ul li:hover > ul;
        }
    }
}
border-left: {
    0;display: {
        block; {
            .main-navigation li ul li a;
        }
    }
}
background: {
    #efefef;border-bottom: {
        1px {
            solid {
                #ededed;display: {
                    block;font-size: {
                        11px;font-size: {
                            0.785714286rem;line-height: {
                                2.181818182;padding: {
                                    8px {
                                        10px;padding: {
                                            0.571428571rem {
                                                0.714285714rem;width: {
                                                    180px;width: {
                                                        12.85714286rem;white-space: {
                                                            normal; {
                                                                .main-navigation li ul li a:hover;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #e3e3e3;color: {
        #444; {
            .main-navigation .current-menu-item > a,.main-navigation .current-menu-ancestor > a,.main-navigation .current_page_item > a,.main-navigation .current_page_ancestor > a;
        }
    }
}
overflow: {
    hidden; {
        .template-front-page.has-post-thumbnail article;
    }
}
clear: {
    right; {
        .template-front-page .widget-area .widget:nth-child(even),.template-front-page.two-sidebars .widget-area .front-widgets + .front-widgets;
    }
}
background-color: {
    #e6e6e6; {
        body .site;
    }
    #fff; {
        body.custom-background-empty .site,body.custom-background-white .site;
    }
}
padding: 0 40px;padding: 0 2.857142857rem;margin-bottom: 48px;margin-bottom: 3.428571429rem;box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3); {
    body.custom-background-empty;
}
#page {
    padding:0 0;
    width:960px;
}
.banner {
    width:1002px;
    height:70px;
    background-image: url('images/banner.png');
    background-repeat:none;
    clear:both;
    float:left;
    margin-left:-21px;
    z-index:10;
    position:absolute;
    .header-text {
        margin-top:30px;
        margin-left:35px;
        font-weight:400;
        font-size:14pt;
        font-family:Oswald;
        color:white;
        float:left;
    }
    .subscribe-wrapper {
        margin-top: 23px;
        margin-right: 50px;
        float: right;
    }
    form {
        float:right;
    }
    .mimi_field {
        width:350px;
        margin-top:24px;
    }
    #signup_email {
        width:200px;
        float:right;
        margin-right:10px;
    }
    #webform_submit_button {
        float:right;
        margin-right:40px;
    }
}
.home-nav {
    ul {
        margin-top:-10px;
    }
}
.flexslider {
    margin-top:70px;
    width:960px;
    margin-bottom:0;
    padding-bottom:0;
    border:none;
    border-bottom-style:solid;
    border-bottom-color:#da131b;
    border-bottom-width:6px;
    border-bottom-webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.flex-control-nav {
    bottom:10px;
    text-align:right;
    margin-left:-20px;
}
.flex-control-paging {
    li {
        a {
            background: #ccc;
            background: rgba(255, 255, 255, 0.5);
            color:rgba(255, 255, 255, 0);
        }
        a:hover {
            background: #fff;
            background: rgba(255, 255, 255, 1);
            color:rgba(255, 255, 255, 0);
        }
        a.flex-active {
            background: #fff;
            background: rgba(255, 255, 255, 1);
            color:rgba(255, 255, 255, 0);
        }
    }
}
.show {
    font-family:Oswald;
    a {
        color:#da131b;
    }
}
.theater {
    a {
        color:#da131b;
    }
}
#show-callout {
    width:960px;
    .full {
        height:272px;
        float:left;
    }
    .logo {
        float:left;
        margin-top:-248px;
        padding-left:20px;
        height:228px;
        clear:both;
    }
    #text-bg {
        float:left;
        margin-left:586px;
        background:url('images/gradient.png');
        border:none;
        background-repeat:repeat-y;
        clear:both;
        height:272px;
        width:374px;
        margin-top:-272px;
    }
    #text {
        background-color:white;
        width:300px;
        border:solid 6px #da131b;
        margin-top:50px;
        margin-left:50px;
        .price {
            font-weight:400;
            text-align:center;
            padding:0 0 20px 0;
            font-size:12pt;
        }
    }
    .title {
        padding:20px 0 10px 0;
        text-align:center;
    }
}
.title {
    text-transform:uppercase;
    font-weight:400;
    font-size:16pt;
}
.buttons {
    margin-left:52px;
    margin-top:30px;
}
.button {
    float:left;
    background-image:url('images/button.png');
    width:132px;
    line-height:37px;
    text-align:center;
    margin:0 12px;
    a {
        height:22px;
        text-decoration:none;
        color:white;
        vertical-align:bottom;
        margin-top:10px;
    }
}
#show-text-bg {
    float:left;
    width:615px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:#f9f9f9;
    margin-top:20px;
    margin-left:10px;
}
#show-text {
    margin:15px 10px;
    font-size:10pt;
    float:left;
    font-family:Arial;
    .top {
        width:290px;
        float:left;
    }
    .title {
        font-family:Oswald;
        font-size:16pt;
    }
    h2 {
        font-family:Oswald;
        font-size:12pt;
        font-weight:400;
        text-transform:uppercase;
        padding:20px 0 5px 0;
    }
    a.theater {
        float:left;
        clear:both;
        width:100%;
        padding-bottom:5px;
    }
    h2.tickets {
        font-size:12pt;
        font-weight:400;
        text-transform:uppercase;
        padding:10px 0 5px 0;
    }
    .address {
        clear:both;
        float:left;
        padding-bottom:5px;
    }
    .map {
        float:left;
    }
    .button {
        float:left;
        background-image:url('images/button.png');
        width:132px;
        line-height:37px;
        text-align:center;
        margin:20px 10px 0 0;
        a {
            height:22px;
            text-decoration:none;
            color:white;
            vertical-align:bottom;
            margin-top:10px;
            font-family:Oswald;
            font-weight:400;
            font-size:11pt;
        }
    }
    #about {
        float:left;
        clear:both;
        width:98%;
        color:white;
        background-color:#da131b;
        padding:8px 0 8px 8px;
        margin:15px 0 0 0;
        font-weight:400;
        font-size:14pt;
        font-family:Oswald;
    }
    .synopsis {
        float:left;
        clear:both;
        line-height:13pt;
        font-size:11pt;
    }
    .date {
        float:left;
        clear:both;
        line-height:13pt;
        font-size:11pt;
    }
    img.did-he {
        float:left;
        clear:both;
    }
    div.did-he {
        float:left;
        width:500px;
        padding-left:20px;
        a {
            float:left;
            padding-top:10px;
        }
    }
}
.theater-info {
    float:left;
    width:370px;
    margin-top:3px;
}
.theater-block {
    padding-top:20px;
}
.theater-head {
    font-family:Oswald;
    font-size:12pt;
    font-weight:400;
    text-transform:uppercase;
    padding-right:5px;
    display:block;
    float:left;
    margin-top:-3px;
}
.theater-text {
    line-height:16px;
}
#current-show {
    float:left;
    width:200px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    margin-top:15px;
    margin-left:18px;
    text-align:center;
    .button {
        margin:10px 0 10px 34px;
    }
    .dark {
        padding-bottom:10px;
    }
}
.current-title {
    font-family:Oswald;
    font-weight:400;
    font-size:11pt;
    padding:5px 0 5px 0;
}
#nearby-1 {
    float:left;
    width:290px;
}
#nearby-2 {
    float:left;
    width:290px;
}
.nearby-block {
    padding:5px 0;
}
#closed {
    clear:both;
    padding-top:20px;
}
img.closed {
    width:90px;
}
#secondary {
    width:31%;
    float:right;
    border-left-style:dotted;
    border-left-width:1px;
    border-color:#cccccc;
    margin-left:-1.3%;
    padding-left:1.3%;
    margin-right:10px;
    img {
        border-radius:0;
        box-shadow:none;
        width:100%;
    }
}
.single-show {
    #secondary {
        margin-top:292px;
    }
}
.single-theater {
    #secondary {
        margin-top:19px;
    }
}
#main {
    width:960px;
}
.logo {
    float:left;
    padding-top:5px;
}
header {
    .top-ad {
        float:left;
        padding-left:10px;
    }
}
#colophon {
    padding:0 0 10px 20px;
    border:none;
    text-align:center;
}
.home {
    #text-bg {
        float:left;
        width:615px;
        border-style:solid;
        border-width:1px;
        border-color:#cccccc;
        background-color:#dddddd;
        margin-top:20px;
        margin-left:10px;
    }
    a {
        color:#da131b;
    }
    .home-title {
        font-weight:400;
        font-size:12pt;
        font-family:Oswald;
        padding:10px 0;
        text-align:center;
    }
}
.featured-show {
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:white;
    margin:0 5px 10px 5px;
    float:left;
}
.featured-image {
    float:left;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    margin:10px;
}
.featured-title {
    font-weight:400;
    font-size:12pt;
    font-family:Oswald;
    margin:10px 0 8px 0;
}
.featured-synopsis {
    font-size:10pt;
    font-family:Arial;
    width:590px;
    padding-right:10px;
}
.featured-links {
    list-style:none;
    float:left;
    margin-top:8px;
    li {
        float:left;
        border-right-style:solid;
        border-right-color:black;
        border-right-width:1px;
        line-height:10px;
        a {
            font-weight:400;
            font-size:10pt;
            font-family:Oswald;
            padding-right:8px;
            padding-left:8px;
            text-decoration:none;
        }
    }
    li:first-child {
        a {
            padding-left:0;
        }
    }
    li:last-child {
        border-right-style:solid;
        border-right-color:black;
        border-right-width:0px;
    }
}
.front-callout {
    padding-left:7px;
}
#text-bg {
    float:left;
    width:615px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:#dddddd;
    margin-top:20px;
    margin-left:10px;
    i {
        font-style: normal;
    }
}
.list-item {
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:white;
    margin:10px 5px 10px 5px;
    float:left;
    width:98%;
}
.list-image {
    width:64px;
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    margin:5px;
    float:left;
}
.list-title {
    color:#da131b;
    font-weight:400;
    font-size:14pt;
    font-family:Oswald;
    line-height:30px;
    text-align:top;
}
.cat-title {
    float:left;
    clear:both;
    color:white;
    background-color:#da131b;
    padding:8px 0 8px 8px;
    font-weight:400;
    font-size:14pt;
    font-family:Oswald;
    margin:10px 5px 0 5px;
    width:97%;
}
.list-synopsis {
    font-size:10pt;
    font-family:Arial;
    padding-top:10px;
}
#theater-list {
    margin-top:10px;
    margin-left:10px;
    margin-bottom:10px;
    font-weight:300;
    font-size:12pt;
    font-family:Oswald;
    tr {
        width:610px;
    }
    th {
        width: 198px;
        padding-bottom:10px;
        font-weight:400;
        font-size:14pt;
    }
    tbody {
        tr {
            border-style:solid;
            border-width:1px;
            border-color:#cccccc;
            background-color:white;
        }
    }
    td {
        width:198px;
        padding:10px 0px 10px 5px;
    }
    a {
        color:#da131b;
        text-decoration:none;
    }
}
.theater-title {
    line-height:20px;
}
.closed {
    margin-bottom:20px;
    text-align:center;
    a {
        color:white;
    }
}
article.category-news {
    border-style:solid;
    border-width:1px;
    border-color:#cccccc;
    background-color:white;
    margin:10px 5px 10px 5px;
    float:left;
    width:95%;
    padding:10px 10px 0 10px;
    font-size:10pt;
    font-family:Arial;
    .entry-header {
        a {
            font-size:14pt;
            font-family:Oswald;
            font-weight:400;
            text-transform:uppercase;
            color:#da131b;
        }
    }
}
.news {
    article {
        border:none;
        margin-bottom:20px;
    }
}
.blog {
    padding-top:12px;
    .entry-header {
        font-size:14pt;
        font-family:Oswald;
        font-weight:400;
        text-transform:uppercase;
        color:#da131b;
    }
    article.category-news {
        background-color:#F9F9F9;
        width:95.5%;
    }
    .page {
        background-color:#F9F9F9;
        width:95.5%;
    }
    article {
        margin-left:8px;
        border-style:solid;
        border-width:1px;
        border-color:#cccccc;
    }
}
.page {
    article {
        margin-top:11px;
        padding:10px;
    }
}
#social {
    width:100%;
    text-align:center;
    a {
        img {
            width:24px;
            height:24px;
            margin:0 5px;
        }
    }
}
.follow {
    font-weight:400;
    font-size:13pt;
    font-family:Oswald;
    padding-right:6px;
}
#menu-footer-menu {
    list-style-type: none;
    display: inline;
    .menu-item {
        display: inline;
    }
    li {
        a {
            display: inline;
        }
    }
}
